
*.vtk
*.mesh
*.msh
*.mat
*.dat
*.MiniFEM
*.topopti
*.nii
*.ele
*.edge
*.face
*.node
*.stress
*.smesh
*.out
*.zip
gatewayMesh.ply
FrameData4Gao2017_graph_opt.obj
VolumetricMichellTrussGraph.obj
StressField_Tet_v2_Delaunay.obj
StressField_Tet_v2_Voronoi.obj
FrameData4Gao2017.txt

# Ignore External Module Repositories
/externalModules/VolumetricTruss/
/externalModules/gptoolbox/
data/femur_R512.TopVoxel
data/Part_R512.TopVoxel
/out/
/dataTmp/
/APPtmp/
*.csv
.vscode/